.python=3.10
__pycache__/
.ipynb_checkpoints/
.venv
venv/
python=3.10
.python=3.10
__pycache__/
.ipynb_checkpoints/
.venv
venv/
python=3.10
.python=3.10
.ipynb_checkpoints/
.venv
venv/
python=3.10
.python=3.10
.ipynb_checkpoints/